<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>test.KMS</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>test.kms.servlet.TestServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DoGetPublicKey</servlet-name>
		<servlet-class>test.kms.servlet.DoGetPublicKey</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DoGetPublicKey</servlet-name>
		<url-pattern>/getPublicKey</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DoGetPrivateKey</servlet-name>
		<servlet-class>test.kms.servlet.DoGetPrivateKey</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DoGetPrivateKey</servlet-name>
		<url-pattern>/getPrivateKey</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DoGetKeyPair</servlet-name>
		<servlet-class>test.kms.servlet.DoGetKeyPair</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DoGetKeyPair</servlet-name>
		<url-pattern>/getKeyPair</url-pattern>
	</servlet-mapping>

</web-app>
